Server/DES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DES"
           targetNamespace="http://tecware-gmbh.de/dev/des/2014"
           elementFormDefault="qualified"
           xmlns="http://tecware-gmbh.de/dev/des/2014"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="typeLog">
    <xs:annotation>
      <xs:documentation>Einstellungen an der Log-Datei</xs:documentation>
    </xs:annotation>
    <xs:attribute name="min" type="xs:unsignedInt" use="optional" default="3670016">
      <xs:annotation>
        <xs:documentation>Untere Grenze der Log-Datei (in Byte).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max" type="xs:unsignedInt" use="optional" default="4194304">
      <xs:annotation>
        <xs:documentation>Oberer Grenze der Log-Datei (in Byte).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

	<xs:simpleType name="KeyType">
		<xs:annotation>
			<xs:documentation>This types marks a attribute of an element as a key field, for the merge process.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeList">
		<xs:annotation>
			<xs:documentation>Markiert Listen die durch Semicolon getrennt sind.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:string" />
	</xs:simpleType>
	
	<xs:simpleType name="PathType">
		<xs:annotation>
			<xs:documentation>File names that they are routed relativly to the configuration file..</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="class" type="typeList">
		<xs:annotation>
			<xs:documentation>Definiert die Klasse für ein Element</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="log" type="typeLog" />

	<xs:simpleType name="typeConfigEncodingStrict">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IBM037">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (USA-Kanada) (Codepage: 37)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM437">
				<xs:annotation>
					<xs:documentation>OEM USA (Codepage: 437)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM500">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (International) (Codepage: 500)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASMO-708">
				<xs:annotation>
					<xs:documentation>Arabisch (ASMO 708) (Codepage: 708)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DOS-720">
				<xs:annotation>
					<xs:documentation>Arabisch (DOS) (Codepage: 720)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm737">
				<xs:annotation>
					<xs:documentation>Griechisch (DOS) (Codepage: 737)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm775">
				<xs:annotation>
					<xs:documentation>Baltisch (DOS) (Codepage: 775)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm850">
				<xs:annotation>
					<xs:documentation>Westeuropäisch (DOS) (Codepage: 850)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm852">
				<xs:annotation>
					<xs:documentation>Mitteleuropäisch (DOS) (Codepage: 852)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM855">
				<xs:annotation>
					<xs:documentation>OEM Kyrillisch (Codepage: 855)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm857">
				<xs:annotation>
					<xs:documentation>Türkisch (DOS) (Codepage: 857)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM00858">
				<xs:annotation>
					<xs:documentation>OEM Multilingual Lateinisch 1 (Codepage: 858)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM860">
				<xs:annotation>
					<xs:documentation>Portugiesisch (DOS) (Codepage: 860)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm861">
				<xs:annotation>
					<xs:documentation>Isländisch (DOS) (Codepage: 861)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DOS-862">
				<xs:annotation>
					<xs:documentation>Hebräisch (DOS) (Codepage: 862)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM863">
				<xs:annotation>
					<xs:documentation>Französisch, Kanada (DOS) (Codepage: 863)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM864">
				<xs:annotation>
					<xs:documentation>Arabisch (864) (Codepage: 864)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM865">
				<xs:annotation>
					<xs:documentation>Nordisch (DOS) (Codepage: 865)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp866">
				<xs:annotation>
					<xs:documentation>Kyrillisch (DOS) (Codepage: 866)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ibm869">
				<xs:annotation>
					<xs:documentation>Griechisch, modern (DOS) (Codepage: 869)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM870">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Multilingual Lateinisch-2) (Codepage: 870)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-874">
				<xs:annotation>
					<xs:documentation>Thailändisch (Windows) (Codepage: 874)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp875">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Griechisch, modern) (Codepage: 875)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="shift_jis">
				<xs:annotation>
					<xs:documentation>Japanisch (Shift-JIS) (Codepage: 932)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gb2312">
				<xs:annotation>
					<xs:documentation>Chinesisch vereinfacht (GB2312) (Codepage: 936)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ks_c_5601-1987">
				<xs:annotation>
					<xs:documentation>Koreanisch (Codepage: 949)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="big5">
				<xs:annotation>
					<xs:documentation>Chinesisch traditionell (Big5) (Codepage: 950)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM1026">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Türkisch, Lateinisch-5) (Codepage: 1026)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01047">
				<xs:annotation>
					<xs:documentation>IBM Lateinisch-1 (Codepage: 1047)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01140">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (USA-Kanada-Europäisch) (Codepage: 1140)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01141">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Deutschland-Europäisch) (Codepage: 1141)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01142">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Dänemark-Norwegen-Europäisch) (Codepage: 1142)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01143">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Finnland-Schweden-Europäisch) (Codepage: 1143)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01144">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Italien-Europäisch) (Codepage: 1144)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01145">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Spanisch-Europäisch) (Codepage: 1145)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01146">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Großbritannien-Europäisch) (Codepage: 1146)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01147">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Frankreich-Europäisch) (Codepage: 1147)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01148">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (International-Europäisch) (Codepage: 1148)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM01149">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Isländisch-Europäisch) (Codepage: 1149)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-16">
				<xs:annotation>
					<xs:documentation>Unicode (Codepage: 1200)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-16BE">
				<xs:annotation>
					<xs:documentation>Unicode (Big-Endian) (Codepage: 1201)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1250">
				<xs:annotation>
					<xs:documentation>Mitteleuropäisch (Windows) (Codepage: 1250)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1251">
				<xs:annotation>
					<xs:documentation>Kyrillisch (Windows) (Codepage: 1251)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Windows-1252">
				<xs:annotation>
					<xs:documentation>Westeuropäisch (Windows) (Codepage: 1252)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1253">
				<xs:annotation>
					<xs:documentation>Griechisch (Windows) (Codepage: 1253)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1254">
				<xs:annotation>
					<xs:documentation>Türkisch (Windows) (Codepage: 1254)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1255">
				<xs:annotation>
					<xs:documentation>Hebräisch (Windows) (Codepage: 1255)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1256">
				<xs:annotation>
					<xs:documentation>Arabisch (Windows) (Codepage: 1256)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1257">
				<xs:annotation>
					<xs:documentation>Baltisch (Windows) (Codepage: 1257)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="windows-1258">
				<xs:annotation>
					<xs:documentation>Vietnamesisch (Windows) (Codepage: 1258)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Johab">
				<xs:annotation>
					<xs:documentation>Koreanisch (Johab) (Codepage: 1361)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="macintosh">
				<xs:annotation>
					<xs:documentation>Westeuropäisch (Mac) (Codepage: 10000)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-japanese">
				<xs:annotation>
					<xs:documentation>Japanisch (Mac) (Codepage: 10001)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-chinesetrad">
				<xs:annotation>
					<xs:documentation>Chinesisch traditionell (Mac) (Codepage: 10002)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-korean">
				<xs:annotation>
					<xs:documentation>Koreanisch (Mac) (Codepage: 10003)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-arabic">
				<xs:annotation>
					<xs:documentation>Arabisch (Mac) (Codepage: 10004)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-hebrew">
				<xs:annotation>
					<xs:documentation>Hebräisch (Mac) (Codepage: 10005)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-greek">
				<xs:annotation>
					<xs:documentation>Griechisch (Mac) (Codepage: 10006)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-cyrillic">
				<xs:annotation>
					<xs:documentation>Kyrillisch (Mac) (Codepage: 10007)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-chinesesimp">
				<xs:annotation>
					<xs:documentation>Chinesisch vereinfacht (Mac) (Codepage: 10008)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-romanian">
				<xs:annotation>
					<xs:documentation>Rumänisch (Mac) (Codepage: 10010)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-ukrainian">
				<xs:annotation>
					<xs:documentation>Ukrainisch (Mac) (Codepage: 10017)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-thai">
				<xs:annotation>
					<xs:documentation>Thailändisch (Mac) (Codepage: 10021)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-ce">
				<xs:annotation>
					<xs:documentation>Mitteleuropäisch (Mac) (Codepage: 10029)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-icelandic">
				<xs:annotation>
					<xs:documentation>Isländisch (Mac) (Codepage: 10079)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-turkish">
				<xs:annotation>
					<xs:documentation>Türkisch (Mac) (Codepage: 10081)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-mac-croatian">
				<xs:annotation>
					<xs:documentation>Kroatisch (Mac) (Codepage: 10082)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-32">
				<xs:annotation>
					<xs:documentation>Unicode (UTF-32) (Codepage: 12000)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-32BE">
				<xs:annotation>
					<xs:documentation>Unicode (UTF-32 Big-Endian) (Codepage: 12001)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-Chinese-CNS">
				<xs:annotation>
					<xs:documentation>Chinesisch traditionell (CNS) (Codepage: 20000)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20001">
				<xs:annotation>
					<xs:documentation>TCA Taiwan (Codepage: 20001)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-Chinese-Eten">
				<xs:annotation>
					<xs:documentation>Chinesisch traditionell (Eten) (Codepage: 20002)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20003">
				<xs:annotation>
					<xs:documentation>IBM5550 Taiwan (Codepage: 20003)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20004">
				<xs:annotation>
					<xs:documentation>TeleText Taiwan (Codepage: 20004)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20005">
				<xs:annotation>
					<xs:documentation>Wang Taiwan (Codepage: 20005)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-IA5">
				<xs:annotation>
					<xs:documentation>Westeuropäisch (IA5) (Codepage: 20105)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-IA5-German">
				<xs:annotation>
					<xs:documentation>Deutsch (IA5) (Codepage: 20106)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-IA5-Swedish">
				<xs:annotation>
					<xs:documentation>Schwedisch (IA5) (Codepage: 20107)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-IA5-Norwegian">
				<xs:annotation>
					<xs:documentation>Norwegisch (IA5) (Codepage: 20108)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="us-ascii">
				<xs:annotation>
					<xs:documentation>US-ASCII (Codepage: 20127)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20261">
				<xs:annotation>
					<xs:documentation>T.61 (Codepage: 20261)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20269">
				<xs:annotation>
					<xs:documentation>ISO-6937 (Codepage: 20269)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM273">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Deutschland) (Codepage: 20273)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM277">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Dänemark-Norwegen) (Codepage: 20277)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM278">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Finnland-Schweden) (Codepage: 20278)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM280">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Italien) (Codepage: 20280)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM284">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Spanien) (Codepage: 20284)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM285">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (UK) (Codepage: 20285)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM290">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Japanisch Katakana) (Codepage: 20290)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM297">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Frankreich) (Codepage: 20297)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM420">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Arabisch) (Codepage: 20420)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM423">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Griechisch) (Codepage: 20423)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM424">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Hebräisch) (Codepage: 20424)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-EBCDIC-KoreanExtended">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Koreanisch, erweitert) (Codepage: 20833)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM-Thai">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Thailändisch) (Codepage: 20838)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="koi8-r">
				<xs:annotation>
					<xs:documentation>Kyrillisch (KOI8-R) (Codepage: 20866)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM871">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Isländisch) (Codepage: 20871)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM880">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Kyrillisch, Russisch) (Codepage: 20880)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM905">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Türkisch) (Codepage: 20905)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBM00924">
				<xs:annotation>
					<xs:documentation>IBM Lateinisch-1 (Codepage: 20924)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUC-JP">
				<xs:annotation>
					<xs:documentation>Japanisch (JIS 0208-1990 und 0212-1990) (Codepage: 20932)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20936">
				<xs:annotation>
					<xs:documentation>GB2312-80 Chinesisch (vereinfacht) (Codepage: 20936)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp20949">
				<xs:annotation>
					<xs:documentation>Koreanisch Wansung (Codepage: 20949)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1025">
				<xs:annotation>
					<xs:documentation>IBM EBCDIC (Kyrillisch, Serbisch-Bulgarisch) (Codepage: 21025)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="koi8-u">
				<xs:annotation>
					<xs:documentation>Kyrillisch (KOI8-U) (Codepage: 21866)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-1">
				<xs:annotation>
					<xs:documentation>Westeuropäisch (ISO) (Codepage: 28591)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-2">
				<xs:annotation>
					<xs:documentation>Mitteleuropäisch (ISO) (Codepage: 28592)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-3">
				<xs:annotation>
					<xs:documentation>Lateinisch 3 (ISO) (Codepage: 28593)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-4">
				<xs:annotation>
					<xs:documentation>Baltisch (ISO) (Codepage: 28594)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-5">
				<xs:annotation>
					<xs:documentation>Kyrillisch (ISO) (Codepage: 28595)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-6">
				<xs:annotation>
					<xs:documentation>Arabisch (ISO) (Codepage: 28596)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-7">
				<xs:annotation>
					<xs:documentation>Griechisch (ISO) (Codepage: 28597)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-8">
				<xs:annotation>
					<xs:documentation>Hebräisch (ISO-Visual) (Codepage: 28598)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-9">
				<xs:annotation>
					<xs:documentation>Türkisch (ISO) (Codepage: 28599)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-13">
				<xs:annotation>
					<xs:documentation>Estnisch (ISO) (Codepage: 28603)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-15">
				<xs:annotation>
					<xs:documentation>Lateinisch 9 (ISO) (Codepage: 28605)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-Europa">
				<xs:annotation>
					<xs:documentation>Europa (Codepage: 29001)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-8859-8-i">
				<xs:annotation>
					<xs:documentation>Hebräisch (ISO-Logical) (Codepage: 38598)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-2022-jp">
				<xs:annotation>
					<xs:documentation>Japanisch (JIS) (Codepage: 50220)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="csISO2022JP">
				<xs:annotation>
					<xs:documentation>Japanisch (JIS, 1 Byte Kana erlaubt) (Codepage: 50221)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-2022-jp">
				<xs:annotation>
					<xs:documentation>Japanisch (JIS, 1 Byte Kana erlaubt - SO/SI) (Codepage: 50222)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-2022-kr">
				<xs:annotation>
					<xs:documentation>Koreanisch (ISO) (Codepage: 50225)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-cp50227">
				<xs:annotation>
					<xs:documentation>Chinesisch vereinfacht (ISO-2022) (Codepage: 50227)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="euc-jp">
				<xs:annotation>
					<xs:documentation>Japanisch (EUC) (Codepage: 51932)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUC-CN">
				<xs:annotation>
					<xs:documentation>Chinesisch vereinfacht (EUC) (Codepage: 51936)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="euc-kr">
				<xs:annotation>
					<xs:documentation>Koreanisch (EUC) (Codepage: 51949)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hz-gb-2312">
				<xs:annotation>
					<xs:documentation>Chinesisch vereinfacht (HZ) (Codepage: 52936)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GB18030">
				<xs:annotation>
					<xs:documentation>Chinesisch vereinfacht (GB18030) (Codepage: 54936)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-de">
				<xs:annotation>
					<xs:documentation>ISCII Devanagari (Codepage: 57002)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-be">
				<xs:annotation>
					<xs:documentation>ISCII Bangla (Codepage: 57003)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-ta">
				<xs:annotation>
					<xs:documentation>ISCII Tamil (Codepage: 57004)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-te">
				<xs:annotation>
					<xs:documentation>ISCII Telugu (Codepage: 57005)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-as">
				<xs:annotation>
					<xs:documentation>ISCII Assamesisch (Codepage: 57006)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-or">
				<xs:annotation>
					<xs:documentation>ISCII Oriya (Codepage: 57007)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-ka">
				<xs:annotation>
					<xs:documentation>ISCII Kannada (Codepage: 57008)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-ma">
				<xs:annotation>
					<xs:documentation>ISCII Malayalam (Codepage: 57009)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-gu">
				<xs:annotation>
					<xs:documentation>ISCII Gujarati (Codepage: 57010)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="x-iscii-pa">
				<xs:annotation>
					<xs:documentation>ISCII Punjabi (Codepage: 57011)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-7">
				<xs:annotation>
					<xs:documentation>Unicode (UTF-7) (Codepage: 65000)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-8">
				<xs:annotation>
					<xs:documentation>Unicode (UTF-8) (Codepage: 65001)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeConfigEncoding">
		<xs:union memberTypes="typeConfigEncodingStrict xs:int xs:string" />
	</xs:simpleType>

	<xs:simpleType name="typeLuaAliases">
		<xs:restriction base="xs:string">
			<xs:enumeration value="byte" />
			<xs:enumeration value="sbyte" />
			<xs:enumeration value="short" />
			<xs:enumeration value="ushort" />
			<xs:enumeration value="int" />
			<xs:enumeration value="uint" />
			<xs:enumeration value="long" />
			<xs:enumeration value="ulong" />
			<xs:enumeration value="float" />
			<xs:enumeration value="double" />
			<xs:enumeration value="decimal" />
			<xs:enumeration value="datetime" />
			<xs:enumeration value="char" />
			<xs:enumeration value="string" />
			<xs:enumeration value="bool" />
			<xs:enumeration value="object" />
			<!--<xs:enumeration value="type" />
			<xs:enumeration value="thread" />
			<xs:enumeration value="luatype" />
			<xs:enumeration value="table" />
			<xs:enumeration value="result" />
			<xs:enumeration value="void"/>-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeLua">
		<xs:union memberTypes="typeLuaAliases xs:string" />
	</xs:simpleType>

	<xs:complexType name="typeConfigService">
		<xs:attribute name="displayname" type="xs:string" use="optional" >
			<xs:annotation>
				<xs:documentation>Anzeigename des Nachrichtenendpunktes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="security" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Gibt den SecurityToken, den der Nutzer besitzen muss, zurück, um in den Knoten wechseln zu können.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="script" type="typeList" use="optional">
			<xs:annotation>
				<xs:documentation>Liste von Skript-Ids, die den Knoten erweitern (durch Komma oder Semikolon getrennt).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="typeConfigItem">
		<xs:complexContent>
			<xs:extension base="typeConfigService">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<!--<xs:element ref="configitem" minOccurs="0" maxOccurs="unbounded" />-->
				</xs:sequence>

				<xs:attribute name="name" type="KeyType" use="required">
					<xs:annotation>
						<xs:documentation>Name des Elements, der innerhalb der Struktur eindeutig sein muss.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="icon" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Definiert den Pfad zum Symbol des Knotens.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
  </xs:complexType>

	<xs:complexType name="typeConfigLogItem">
		<xs:complexContent>
			<xs:extension base="typeConfigItem">
				<xs:sequence>
					<xs:element ref="log" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="typeUser">
		<xs:complexContent>
			<xs:extension base="typeConfigItem">
				<xs:attribute name="groups" use="required">
					<xs:annotation>
						<xs:documentation>Definiert die Gruppen, Securitytoken, die dem Nutzer zugeordnet werden.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:list itemType="xs:string" />
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="genericService" abstract="true" type="typeConfigService">
		<xs:annotation>
			<xs:documentation>Platzhalter für Service-Knoten.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="configItem" type="typeConfigItem">
		<xs:annotation>
			<xs:documentation>Definiert ein Konfigurationselement.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.DE.Server.DEConfigItem, DE.Server, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null</class>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:element name="configLogItem" type="typeConfigLogItem" substitutionGroup="configItem">
		<xs:annotation>
			<xs:documentation>Definiert ein Konfigurationselement mit einer Logdatei.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.DE.Server.DEConfigLogItem, DE.Server, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null</class>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="typeHttpWorker">
		<xs:complexContent>
			<xs:extension base="typeConfigLogItem">
				<xs:attribute name="base" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Virtuelle Url unter der die Dateien eingeordnet werden sollen.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="priority" type="xs:int" use="optional">
					<xs:annotation>
						<xs:documentation>Bestimmt Reihenfolge der Aufrufe</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="typeHttpFileWorker">
		<xs:complexContent>
			<xs:extension base="typeHttpWorker">
				<xs:sequence>
					<xs:element name="mimeDef" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Definiert einen Mime-Type für die entsprechende Datei.</xs:documentation>
						</xs:annotation>
						<xs:complexType mixed="true">
							<xs:attribute name="filter" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>Zeichenfolge die den Filter für diese Definition beschreibt.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="directory" type="PathType" use="required">
					<xs:annotation>
						<xs:documentation>Verzeichnis, welches unter der Uri verfügbar sein soll.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="typeHttpResourceWorker">
		<xs:complexContent>
			<xs:extension base="typeHttpWorker">
				<xs:attribute name="assembly" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Assembly, in welchen sich die Resourcen befinden.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="namespace" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Namespace innerhalb des Assemblies, welches als Wurzel verwendet wird.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="files" substitutionGroup="configItem" type="typeHttpFileWorker">
		<xs:annotation>
			<xs:documentation>Dateien für diesen Knoten zur Verfügung stellen.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="resource" substitutionGroup="configItem" type="typeHttpResourceWorker">
		<xs:annotation>
			<xs:documentation>Resourcen für diesen Knoten zur Verfügung stellen.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="desServer">
		<xs:sequence>
			<xs:element name="resolve" minOccurs="0" maxOccurs="unbounded" type="PathType">
				<xs:annotation>
					<xs:documentation>Definiert ein Verzeichnis indem Assemblies gesucht werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="load" minOccurs="0" maxOccurs="unbounded" type="xs:string">
				<xs:annotation>
					<xs:documentation>Gibt das Assembly an, welches geladen werden soll. Das angegebene Assembly wird nach Schema-Informationen durchsucht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dependonservice" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gibt eine Service an auf den gewartet werden soll. Der Dienst wird nicht gestartet.</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="maxtime" type="xs:int">
						<xs:annotation>
							<xs:documentation>Maximale Zeit die gewartet werden soll.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>

			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="securitygroup" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definiert Berechtigungen für den Zugriff auf den Server. Es werden Security-Tokens zu einer Gruppe zusammengefasst, was wiederrum einen Security-Token ergibt.</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Bezeichnung der Gruppe.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="logpath" type="PathType" use="optional">
			<xs:annotation>
				<xs:documentation>Legt den Pfad fest in dem die Logdateien abgelegt werden sollen.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="desHttp">
		<xs:complexContent>
			<xs:extension base="typeConfigService">
				<xs:sequence>
					<xs:element ref="log" minOccurs="0" maxOccurs="1" />

					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="prefix" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Prefix für den HttpListener (extener Pfad), wird nichts angegeben so wird http://localhost:8080/ gesetzt.</xs:documentation>
							</xs:annotation>
							<xs:complexType mixed="true">
								<xs:attribute name="path" type="xs:string" use="optional" default="/">
									<xs:annotation>
										<xs:documentation>Interner Pfad in der Konfigurationsstruktur auf dem dieser extene Pfad gemappt werden soll.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>

						<xs:element name="access" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Gibt das Zugriffsschema für den externen Knoten kann. Wird nichts angegeben, so wird die Defaulteinstellung gesetzt.</xs:documentation>
							</xs:annotation>
							<xs:complexType mixed="true">
								<xs:attribute name="scheme" use="optional" default="none">
									<xs:annotation>
										<xs:documentation>Welches Security-Schema soll für diesen Knoten verwendet werden.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="none" />
											<xs:enumeration value="basic" />
											<xs:enumeration value="ntlm" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:element name="basicuser" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<class>TecWare.DE.Server.Applications.DEUser</class>
							</xs:appinfo>
							<xs:documentation>Nutzer der sich Authentifizieren kann.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="typeUser">
									<xs:attribute name="password" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Passwort des Nutzers.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="passwordHash" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Passwort des Nutzers.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>

					<xs:element name="ntmluser" minOccurs="0" maxOccurs="unbounded" type="typeUser">
						<xs:annotation>
							<xs:appinfo>
								<class>TecWare.DE.Server.Applications.DEUser</class>
							</xs:appinfo>
							<xs:documentation>Nutzer der sich Authentifizieren kann.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="mime" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Definiert zu einer Dateiendung den mime-type.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="ext" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>Endung der Datei (z.B. &quot;.png&quot;).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="mime" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>Mime-Type zu der Endung (z.B. &quot;image/png&quot;).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>

					<xs:element ref="configItem" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="desLuaEngine">
		<xs:complexContent>
			<xs:extension base="typeConfigService">
				<xs:sequence>
					<xs:element ref="log" minOccurs="0" maxOccurs="1" />

					<xs:element name="script" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Definiert ein Lua-Script für die Ausführung. Das Skript wird kompiliert im Speicher gehalten und kann mit anderen Elementen verknüpft werden.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="id" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>Id des Scripts</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="filename" type="PathType" use="required">
								<xs:annotation>
									<xs:documentation>Dateiname des Lua-Skripts</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="autoreload" type="xs:boolean" use="optional" default="false">
								<xs:annotation>
									<xs:documentation>Soll das Skript bei einer Änderung der Datei neu ausgeführt werden.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="debug" type="xs:boolean" use="optional" default="true">
								<xs:annotation>
									<xs:documentation>Soll das Skript mit Debug-Informationen geladen werden.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="encoding" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>Kodierung des Skripts (Bezeichnung oder CodePage)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="include">
		<xs:annotation>
			<xs:documentation>Elemente werden an der Include via des-include.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:any minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="fragment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="server" minOccurs="0" maxOccurs="1" type="desServer">
					<xs:annotation>
						<xs:documentation>Erweitert das Server-Element.</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="http" minOccurs="0" maxOccurs="1" type="desHttp">
					<xs:annotation>
						<xs:documentation>Erweitert das Http-Element.</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="luaengine" minOccurs="0" maxOccurs="1" type="desLuaEngine">
					<xs:annotation>
						<xs:documentation>Erweitert die Lua-Script-Engine.</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="genericService" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="configItem" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="des">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeConfigService">
					<xs:sequence>
						<xs:element ref="log" minOccurs="0" maxOccurs="1"  />

						<xs:element name="server" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Einstellungen die am Server vorgenommen werden.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="desServer">
										<xs:attribute name="logpath" type="PathType" use="required">
											<xs:annotation>
												<xs:documentation>Legt den Pfad fest in dem die Logdateien abgelegt werden sollen.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="globalwait" type="xs:int" use="optional">
											<xs:annotation>
												<xs:documentation>Zeit die gewartet werden soll, bis die Konfiguration weiter gelesen werden soll (in ms).</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>

						<xs:element name="http" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Eigenschaften des Http-Service für den Dienst. Dieser wird immer ausgeführt.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="desHttp">
										<xs:attribute name="realm" type="xs:string" use="optional" default="Data Exchange Server">
											<xs:annotation>
												<xs:documentation>Gibt die Authentifizierungs-/Partitionsierungszeichenfolge für den Server an.</xs:documentation>
											</xs:annotation>
										</xs:attribute>

										<xs:attribute name="threads" type="xs:int" use="optional" default="10">
											<xs:annotation>
												<xs:documentation>Anzahl der zu erzeugenden HttpWorker-Threads (Default: 10, Min: 1, Max: 1000).</xs:documentation>
											</xs:annotation>
										</xs:attribute>

										<xs:attribute name="encoding" type="typeConfigEncoding" use="optional" default="utf8">
											<xs:annotation>
												<xs:documentation>Legt die Default Encodierung für den Server fest.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>

						<xs:element name="luaengine" minOccurs="1" maxOccurs="1" type="desLuaEngine">
							<xs:annotation>
								<xs:documentation>Definiert die Lua-Script-Engine.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="genericService" minOccurs="0" maxOccurs="unbounded" />
							<xs:element ref="configItem" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
						
						<!--<xs:element name="cron" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Aktiviert den zeitliche Abarbeitung von Aufgaben.</xs:documentation>
          </xs:annotation>
        <xs:complexType>
          <xs:sequence>
             <xs:element ref="log"  minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        </xs:element>
        -->
					</xs:sequence>

					<xs:attribute name="version" use="required">
						<xs:annotation>
							<xs:documentation>Version der Konfiguration. Sollte immer 330 sein.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="330" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
