Server/DES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DES"
           targetNamespace="http://tecware-gmbh.de/dev/des/2014"
           elementFormDefault="qualified"
           xmlns="http://tecware-gmbh.de/dev/des/2014"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Configuration/DEScore.xsd" />
	<xs:include schemaLocation="Configuration/DESconfigItem.xsd" />

	<xs:complexType name="UserType">
		<xs:complexContent>
			<xs:extension base="ConfigItemType">
				<xs:attribute name="groups" use="required">
					<xs:annotation>
						<xs:documentation>Definiert die Gruppen, Securitytoken, die dem Nutzer zugeordnet werden.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:list itemType="xs:string" />
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HttpWorkerType">
		<xs:complexContent>
			<xs:extension base="ConfigLogItemType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="mimeDef" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Definiert einen Mime-Type für die entsprechende Datei.</xs:documentation>
						</xs:annotation>
						<xs:complexType mixed="true">
							<xs:attribute name="filter" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>Filter for the files.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="securityDef" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Defines the security tokens for the file.</xs:documentation>
						</xs:annotation>
						<xs:complexType mixed="true">
							<xs:attribute name="filter" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>Filter for the files.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="base" type="VirtualSubPathType" use="optional">
					<xs:annotation>
						<xs:documentation>Virtuelle Url unter der die Dateien eingeordnet werden sollen.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="priority" type="xs:int" use="optional">
					<xs:annotation>
						<xs:documentation>Bestimmt Reihenfolge der Aufrufe</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HttpFileWorkerType">
		<xs:complexContent>
			<xs:extension base="HttpWorkerType">
				<xs:attribute name="directory" type="PathType" use="required">
					<xs:annotation>
						<xs:documentation>Verzeichnis, welches unter der Uri verfügbar sein soll.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HttpResourceWorkerType">
		<xs:complexContent>
			<xs:extension base="HttpWorkerType">
				<xs:sequence>
					<xs:element name="alternativeRoot" type="PathType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Searchpath for files in the file system. The file is only taken, if the timestamp is newer as the timestamp of the assembly (the file must exist in the assembly). Use this option only during development, it is not secure in an productiv environment.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="assembly" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Assembly, in welchen sich die Resourcen befinden.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="namespace" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Namespace innerhalb des Assemblies, welches als Wurzel verwendet wird.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="nonePresentAlternativeExtensions" use="optional">
					<xs:annotation>
						<xs:documentation>List of endings, they will never be in the assembly. This is used for debug-proposes.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:list itemType="xs:string" />
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="files" substitutionGroup="configItem" type="HttpFileWorkerType">
		<xs:annotation>
			<xs:documentation>Dateien für diesen Knoten zur Verfügung stellen.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="resource" substitutionGroup="configItem" type="HttpResourceWorkerType">
		<xs:annotation>
			<xs:documentation>Resourcen für diesen Knoten zur Verfügung stellen.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="desServer">
		<xs:sequence>
			<xs:element name="resolve" minOccurs="0" maxOccurs="unbounded" type="PathType">
				<xs:annotation>
					<xs:documentation>Definiert ein Verzeichnis indem Assemblies gesucht werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="load" minOccurs="0" maxOccurs="unbounded" type="xs:string">
				<xs:annotation>
					<xs:documentation>Gibt das Assembly an, welches geladen werden soll. Das angegebene Assembly wird nach Schema-Informationen durchsucht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dependonservice" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gibt eine Service an auf den gewartet werden soll. Der Dienst wird nicht gestartet.</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="maxtime" type="xs:int">
						<xs:annotation>
							<xs:documentation>Maximale Zeit die gewartet werden soll.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>

			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="securitygroup" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definiert Berechtigungen für den Zugriff auf den Server. Es werden Security-Tokens zu einer Gruppe zusammengefasst, was wiederrum einen Security-Token ergibt.</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Bezeichnung der Gruppe.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="logpath" type="PathType" use="optional">
			<xs:annotation>
				<xs:documentation>Legt den Pfad fest in dem die Logdateien abgelegt werden sollen.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="procdump" type="PathType" use="optional" default="%executedirectory%\procdump.exe">
			<xs:annotation>
				<xs:documentation>Path to the sysinterals procdump.exe.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:element name="http">
		<xs:annotation>
			<xs:documentation>Erweitert das Http-Element.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.DE.Server.DEHttpServer</class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ConfigServiceType">
					<xs:sequence>
						<xs:element ref="log" minOccurs="0" maxOccurs="1" />

						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="prefix" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Prefix für den HttpListener (extener Pfad), wird nichts angegeben so wird http://localhost:8080/ gesetzt.</xs:documentation>
								</xs:annotation>
								<xs:complexType mixed="true">
									<xs:attribute name="path" type="xs:string" use="optional" default="/">
										<xs:annotation>
											<xs:documentation>Interner Pfad in der Konfigurationsstruktur auf dem dieser extene Pfad gemappt werden soll.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>

							<xs:element name="access" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Gibt das Zugriffsschema für den externen Knoten kann. Wird nichts angegeben, so wird die Defaulteinstellung gesetzt.</xs:documentation>
								</xs:annotation>
								<xs:complexType mixed="true">
									<xs:attribute name="scheme" use="optional" default="none">
										<xs:annotation>
											<xs:documentation>Welches Security-Schema soll für diesen Knoten verwendet werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="none" />
												<xs:enumeration value="basic" />
												<xs:enumeration value="ntlm" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>

						<xs:element name="basicuser" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<class>TecWare.DE.Server.Applications.DEUser</class>
								</xs:appinfo>
								<xs:documentation>Nutzer der sich Authentifizieren kann.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="UserType">
										<xs:attribute name="password" type="xs:string" use="optional">
											<xs:annotation>
												<xs:documentation>Passwort des Nutzers.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="passwordHash" type="xs:string" use="optional">
											<xs:annotation>
												<xs:documentation>Passwort des Nutzers.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>

						<xs:element name="ntmluser" minOccurs="0" maxOccurs="unbounded" type="UserType">
							<xs:annotation>
								<xs:appinfo>
									<class>TecWare.DE.Server.Applications.DEUser</class>
								</xs:appinfo>
								<xs:documentation>Nutzer der sich Authentifizieren kann.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="mime" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Definiert zu einer Dateiendung den mime-type.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="ext" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Endung der Datei (z.B. &quot;.png&quot;).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="mime" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Mime-Type zu der Endung (z.B. &quot;image/png&quot;).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>

						<xs:element ref="configItem" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>

					<xs:attribute name="realm" type="xs:string" use="optional" default="Data Exchange Server">
						<xs:annotation>
							<xs:documentation>Gibt die Authentifizierungs-/Partitionsierungszeichenfolge für den Server an.</xs:documentation>
						</xs:annotation>
					</xs:attribute>

					<xs:attribute name="threads" type="xs:int" use="optional" default="10">
						<xs:annotation>
							<xs:documentation>Anzahl der zu erzeugenden HttpWorker-Threads (Default: 10, Min: 1, Max: 1000).</xs:documentation>
						</xs:annotation>
					</xs:attribute>

					<xs:attribute name="encoding" type="EncodingType" use="optional" default="utf-8">
						<xs:annotation>
							<xs:documentation>Legt die Default Encodierung für den Server fest.</xs:documentation>
						</xs:annotation>
					</xs:attribute>

					<xs:attribute name="defaultUserLanguage" type="xs:language" use="optional" default="de-DE">
						<xs:annotation>
							<xs:documentation>The default user language for http requests.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="luaengine">
		<xs:annotation>
			<xs:documentation>Erweitert die Lua-Script-Engine.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.DE.Server.LuaEngine</class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ConfigServiceType">
					<xs:sequence>
						<xs:element ref="log" minOccurs="0" maxOccurs="1" />

						<xs:element name="script" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Definiert ein Lua-Script für die Ausführung. Das Skript wird kompiliert im Speicher gehalten und kann mit anderen Elementen verknüpft werden.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="id" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Id des Scripts</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="filename" type="PathType" use="required">
									<xs:annotation>
										<xs:documentation>Dateiname des Lua-Skripts</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="autoreload" type="xs:boolean" use="optional" default="false">
									<xs:annotation>
										<xs:documentation>Soll das Skript bei einer Änderung der Datei neu ausgeführt werden.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="debug" type="xs:boolean" use="optional" default="true">
									<xs:annotation>
										<xs:documentation>Soll das Skript mit Debug-Informationen geladen werden.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="encoding" type="EncodingType" use="optional">
									<xs:annotation>
										<xs:documentation>Kodierung des Skripts (Bezeichnung oder CodePage)</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="include">
		<xs:annotation>
			<xs:documentation>Elemente werden an der Include via des-include.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:any minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="fragment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="server" minOccurs="0" maxOccurs="1" type="desServer">
					<xs:annotation>
						<xs:documentation>Erweitert das Server-Element.</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element ref="http" minOccurs="0" maxOccurs="1" />

				<xs:element ref="luaengine" minOccurs="0" maxOccurs="1" />

				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="genericService" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="configItem" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="des">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ConfigServiceType">
					<xs:sequence>
						<xs:element ref="log" minOccurs="0" maxOccurs="1"  />

						<xs:element name="server" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Einstellungen die am Server vorgenommen werden.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="desServer">
										<xs:attribute name="logpath" type="PathType" use="required">
											<xs:annotation>
												<xs:documentation>Legt den Pfad fest in dem die Logdateien abgelegt werden sollen.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="globalwait" type="xs:int" use="optional">
											<xs:annotation>
												<xs:documentation>Zeit die gewartet werden soll, bis die Konfiguration weiter gelesen werden soll (in ms).</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>

						<xs:element ref="http" minOccurs="1" maxOccurs="1" />
						<xs:element ref="luaengine" minOccurs="1" maxOccurs="1" />

						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="genericService" minOccurs="0" maxOccurs="unbounded" />
							<xs:element ref="configItem" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:sequence>

					<xs:attribute name="version" use="required">
						<xs:annotation>
							<xs:documentation>Version der Konfiguration. Sollte immer 330 sein.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="330" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
